.item-box{
    /* background-color: rgba(95, 158, 160, 0.308); */
    margin-bottom: 2vw;

}
.item-box-image>img{
    width: 330px;
    /* object-fit: cover; */
    /* height: ; */
}
.item-box-text{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px 0;
}
.text-label{
    display: flex;
    flex: 0.7;
    justify-content: left;
    color: rgb(118, 118, 118);
}

.text-label-location{
    color: rgb(71, 68, 69);
    font-weight: bolder;
}

.item-box-icon{
    display: flex;
    flex: 0.3;
    justify-content: right;
    color: rgb(71, 68, 69);
}

.item-box-anchor:hover {
    text-decoration: none;
    
}

.item-box:hover {
    border: 1px solid rgb(71, 68, 69, 0.4);
}