<div class="equipment_data section">
  <h3>TURVA- JA OHUTUSVARUSTUS</h3>
  <div class="equipment-group-container">
    <ul class="equipment-group-fields">
      <li class="eq-item has-childs">
        <label>
          <input type="checkbox" name="lisad[1]" value="1" id="eq_1" /><span
            class="name"
            >roolivõimendi</span
          ><span class="expand"></span
        ></label>
        <span class="f-text">
          <a
            href="#"
            onclick="$(this).hide(); $(this).parent().find('.hide').removeClass('hide').focus(); return false;"
            class="f-text-show-field"
            style="display: none"
            >+ lisainfo</a
          ><input
            type="text"
            class="input-text size-15"
            maxlength="255"
            name="lisainfo[1]"
            value=""
          />
        </span>
        <ul class="eq-nested child_eq_1">
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[373]"
                value="1"
                id="eq_373"
              /><span class="name">kiirustundlik</span></label
            >
          </li>
        </ul>
      </li>
      <li class="eq-item has-childs">
        <label>
          <input type="checkbox" name="lisad[2]" value="1" id="eq_2" /><span
            class="name"
            >kesklukustus</span
          ><span class="expand"></span
        ></label>
        <ul class="eq-nested child_eq_2">
          <li class="eq-item">
            <label>
              <input type="checkbox" name="lisad[3]" value="1" id="eq_3" /><span
                class="name"
                >puldiga</span
              ></label
            >
          </li>
        </ul>
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[4]" value="1" id="eq_4" /><span
            class="name"
            >ABS pidurid</span
          ></label
        >
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[358]" value="1" id="eq_358" /><span
            class="name"
            >elektrooniline seisupidur</span
          ></label
        >
      </li>
      <li class="eq-item f-extra-x">
        <label>
          <input type="checkbox" name="lisad[21]" value="1" id="eq_21" /><span
            class="name"
            >turvapadi</span
          ></label
        >
        <span class="f-text unit-x">
          <input
            type="number"
            class="input-number size-2"
            maxlength="2"
            name="lisainfo[21]"
            value=""
          />
          <span class="unit">x</span>
        </span>
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[346]" value="1" id="eq_346" /><span
            class="name"
            >turvakardinad</span
          ></label
        >
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[259]" value="1" id="eq_259" /><span
            class="name"
            >kõrvalistuja turvapadja väljalülitamise võimalus</span
          ></label
        >
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[360]" value="1" id="eq_360" /><span
            class="name"
            >juhi väsimuse tuvastamise süsteem</span
          ></label
        >
      </li>
      <li class="eq-item has-childs">
        <label>
          <input type="checkbox" name="lisad[23]" value="1" id="eq_23" /><span
            class="name"
            >signalisatsioon</span
          ><span class="expand"></span
        ></label>
        <span class="f-text">
          <a
            href="#"
            onclick="$(this).hide(); $(this).parent().find('.hide').removeClass('hide').focus(); return false;"
            class="f-text-show-field"
            style="display: none"
            >+ lisainfo</a
          ><input
            type="text"
            class="input-text size-15"
            maxlength="255"
            name="lisainfo[23]"
            value=""
          />
        </span>
        <ul class="eq-nested child_eq_23">
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[143]"
                value="1"
                id="eq_143"
              /><span class="name">kaldeanduriga</span></label
            >
          </li>
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[144]"
                value="1"
                id="eq_144"
              /><span class="name">mahuanduriga</span></label
            >
          </li>
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[343]"
                value="1"
                id="eq_343"
              /><span class="name">kahepoolse sidega</span></label
            >
          </li>
        </ul>
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[22]" value="1" id="eq_22" /><span
            class="name"
            >immobilisaator</span
          ></label
        >
        <span class="f-text">
          <a
            href="#"
            onclick="$(this).hide(); $(this).parent().find('.hide').removeClass('hide').focus(); return false;"
            class="f-text-show-field"
            style="display: none"
            >+ lisainfo</a
          ><input
            type="text"
            class="input-text size-15"
            maxlength="255"
            name="lisainfo[22]"
            value=""
          />
        </span>
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[6]" value="1" id="eq_6" /><span
            class="name"
            >stabiilsuskontroll</span
          ></label
        >
        <span class="f-text">
          <a
            href="#"
            onclick="$(this).hide(); $(this).parent().find('.hide').removeClass('hide').focus(); return false;"
            class="f-text-show-field"
            style="display: none"
            >+ lisainfo</a
          ><input
            type="text"
            class="input-text size-15"
            maxlength="255"
            name="lisainfo[6]"
            value=""
          />
        </span>
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[7]" value="1" id="eq_7" /><span
            class="name"
            >pidurdusjõukontroll</span
          ></label
        >
        <span class="f-text">
          <a
            href="#"
            onclick="$(this).hide(); $(this).parent().find('.hide').removeClass('hide').focus(); return false;"
            class="f-text-show-field"
            style="display: none"
            >+ lisainfo</a
          ><input
            type="text"
            class="input-text size-15"
            maxlength="255"
            name="lisainfo[7]"
            value=""
          />
        </span>
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[8]" value="1" id="eq_8" /><span
            class="name"
            >veojõukontroll</span
          ></label
        >
        <span class="f-text">
          <a
            href="#"
            onclick="$(this).hide(); $(this).parent().find('.hide').removeClass('hide').focus(); return false;"
            class="f-text-show-field"
            style="display: none"
            >+ lisainfo</a
          ><input
            type="text"
            class="input-text size-15"
            maxlength="255"
            name="lisainfo[8]"
            value=""
          />
        </span>
      </li>
    </ul>
    <ul class="equipment-group-fields">
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[377]" value="1" id="eq_377" /><span
            class="name"
            >sõiduraja hoidmise abisüsteem</span
          ></label
        >
        <span class="f-text">
          <a
            href="#"
            onclick="$(this).hide(); $(this).parent().find('.hide').removeClass('hide').focus(); return false;"
            class="f-text-show-field"
            style="display: none"
            >+ lisainfo</a
          ><input
            type="text"
            class="input-text size-15"
            maxlength="255"
            name="lisainfo[377]"
            value=""
          />
        </span>
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[384]" value="1" id="eq_384" /><span
            class="name"
            >sõiduraja vahetamise abisüsteem</span
          ></label
        >
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[385]" value="1" id="eq_385" /><span
            class="name"
            >liiklusmärkide tuvastus ja kuvamine</span
          ></label
        >
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[386]" value="1" id="eq_386" /><span
            class="name"
            >öise nägemise assistent</span
          ></label
        >
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[398]" value="1" id="eq_398" /><span
            class="name"
            >pimenurga hoiatus</span
          ></label
        >
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[376]" value="1" id="eq_376" /><span
            class="name"
            >kokkupõrget ennetav pidurisüsteem</span
          ></label
        >
        <span class="f-text">
          <a
            href="#"
            onclick="$(this).hide(); $(this).parent().find('.hide').removeClass('hide').focus(); return false;"
            class="f-text-show-field"
            style="display: none"
            >+ lisainfo</a
          ><input
            type="text"
            class="input-text size-15"
            maxlength="255"
            name="lisainfo[376]"
            value=""
          />
        </span>
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[5]" value="1" id="eq_5" /><span
            class="name"
            >lisapidurituli</span
          ></label
        >
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[388]" value="1" id="eq_388" /><span
            class="name"
            >automaatpidurdussüsteem</span
          ></label
        >
        <span class="f-text">
          <a
            href="#"
            onclick="$(this).hide(); $(this).parent().find('.hide').removeClass('hide').focus(); return false;"
            class="f-text-show-field"
            style="display: none"
            >+ lisainfo</a
          ><input
            type="text"
            class="input-text size-15"
            maxlength="255"
            name="lisainfo[388]"
            value=""
          />
        </span>
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[20]" value="1" id="eq_20" /><span
            class="name"
            >vihmasensor</span
          ></label
        >
      </li>
      <li class="eq-item has-childs">
        <label>
          <input type="checkbox" name="lisad[325]" value="1" id="eq_325" /><span
            class="name"
            >ISOFIX lasteistme kinnitus</span
          ><span class="expand"></span
        ></label>
        <ul class="eq-nested child_eq_325">
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[258]"
                value="1"
                id="eq_258"
              /><span class="name">ees</span></label
            >
          </li>
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[257]"
                value="1"
                id="eq_257"
              /><span class="name">taga</span></label
            >
          </li>
        </ul>
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[395]" value="1" id="eq_395" /><span
            class="name"
            >integreeritud lapseiste</span
          ></label
        >
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[24]" value="1" id="eq_24" /><span
            class="name"
            >turvavööde eelpingutid esiistmetel</span
          ></label
        >
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[359]" value="1" id="eq_359" /><span
            class="name"
            >automaatne paigalseismise funktsioon / mägistardi abi</span
          ></label
        >
      </li>
    </ul>
  </div>
  <h3>TULED</h3>
  <div class="equipment-group-container">
    <ul class="equipment-group-fields">
      <li class="eq-item has-childs">
        <label>
          <input type="checkbox" name="lisad[317]" value="1" id="eq_317" /><span
            class="name"
            >Xenon</span
          ><span class="expand"></span
        ></label>
        <ul class="eq-nested child_eq_317">
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[14]"
                value="1"
                id="eq_14"
              /><span class="name">lähituled</span></label
            >
          </li>
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[15]"
                value="1"
                id="eq_15"
              /><span class="name">kaugtuled</span></label
            >
          </li>
        </ul>
      </li>
      <li class="eq-item has-childs">
        <label>
          <input type="checkbox" name="lisad[366]" value="1" id="eq_366" /><span
            class="name"
            >LED</span
          ><span class="expand"></span
        ></label>
        <ul class="eq-nested child_eq_366">
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[367]"
                value="1"
                id="eq_367"
              /><span class="name">päevatuled</span></label
            >
          </li>
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[368]"
                value="1"
                id="eq_368"
              /><span class="name">tagatuled</span></label
            >
          </li>
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[383]"
                value="1"
                id="eq_383"
              /><span class="name">lähituled</span></label
            >
          </li>
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[382]"
                value="1"
                id="eq_382"
              /><span class="name">kaugtuled</span></label
            >
          </li>
        </ul>
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[16]" value="1" id="eq_16" /><span
            class="name"
            >esitulede pesurid</span
          ></label
        >
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[252]" value="1" id="eq_252" /><span
            class="name"
            >kurvituled</span
          ></label
        >
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[121]" value="1" id="eq_121" /><span
            class="name"
            >päevasõidutulede automaatne lülitus</span
          ></label
        >
      </li>
    </ul>
    <ul class="equipment-group-fields">
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[371]" value="1" id="eq_371" /><span
            class="name"
            >kaugtulede ümberlülitamise assistent</span
          ></label
        >
      </li>
      <li class="eq-item has-childs">
        <label>
          <input type="checkbox" name="lisad[318]" value="1" id="eq_318" /><span
            class="name"
            >udutuled</span
          ><span class="expand"></span
        ></label>
        <ul class="eq-nested child_eq_318">
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[17]"
                value="1"
                id="eq_17"
              /><span class="name">eesmised</span></label
            >
          </li>
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[18]"
                value="1"
                id="eq_18"
              /><span class="name">tagumine</span></label
            >
          </li>
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[361]"
                value="1"
                id="eq_361"
              /><span class="name">kurvitule funktsiooniga</span></label
            >
          </li>
        </ul>
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[19]" value="1" id="eq_19" /><span
            class="name"
            >tulede korrektor</span
          ></label
        >
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[133]" value="1" id="eq_133" /><span
            class="name"
            >lisatuled</span
          ></label
        >
        <span class="f-text">
          <a
            href="#"
            onclick="$(this).hide(); $(this).parent().find('.hide').removeClass('hide').focus(); return false;"
            class="f-text-show-field"
            >+ lisainfo</a
          ><input
            type="text"
            class="input-text size-15 hide"
            maxlength="255"
            name="lisainfo[133]"
            value=""
          />
        </span>
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[253]" value="1" id="eq_253" /><span
            class="name"
            >valgustuspakett</span
          ></label
        >
      </li>
    </ul>
  </div>
  <h3>REHVID JA VELJED</h3>
  <div class="equipment-group-container">
    <ul class="equipment-group-fields">
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[75]" value="1" id="eq_75" /><span
            class="name"
            >suverehvid</span
          ></label
        >
        <span class="f-text">
          <a
            href="#"
            onclick="$(this).hide(); $(this).parent().find('.hide').removeClass('hide').focus(); return false;"
            class="f-text-show-field"
            >+ lisainfo</a
          ><input
            type="text"
            class="input-text size-15 hide"
            maxlength="255"
            name="lisainfo[75]"
            value=""
          />
        </span>
      </li>
      <li class="eq-item has-childs">
        <label>
          <input type="checkbox" name="lisad[78]" value="1" id="eq_78" /><span
            class="name"
            >talverehvid</span
          ><span class="expand"></span
        ></label>
        <span class="f-text">
          <a
            href="#"
            onclick="$(this).hide(); $(this).parent().find('.hide').removeClass('hide').focus(); return false;"
            class="f-text-show-field"
            >+ lisainfo</a
          ><input
            type="text"
            class="input-text size-15 hide"
            maxlength="255"
            name="lisainfo[78]"
            value=""
          />
        </span>
        <ul class="eq-nested child_eq_78 hide">
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[79]"
                value="1"
                id="eq_79"
              /><span class="name">lamellrehvid</span></label
            >
          </li>
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[168]"
                value="1"
                id="eq_168"
              /><span class="name">naastrehvid</span></label
            >
          </li>
        </ul>
      </li>
      <li class="eq-item has-childs">
        <label>
          <input type="checkbox" name="lisad[82]" value="1" id="eq_82" /><span
            class="name"
            >valuveljed</span
          ><span class="expand"></span
        ></label>
        <ul class="eq-nested child_eq_82 hide">
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[83]"
                value="1"
                id="eq_83"
              /><span class="name">mõõt</span></label
            >
            <span class="f-text">
              <a
                href="#"
                onclick="$(this).hide(); $(this).parent().find('.hide').removeClass('hide').focus(); return false;"
                class="f-text-show-field"
                >+ lisainfo</a
              ><input
                type="text"
                class="input-text size-15 hide"
                maxlength="255"
                name="lisainfo[83]"
                value=""
              />
            </span>
          </li>
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[84]"
                value="1"
                id="eq_84"
              /><span class="name">firma</span></label
            >
            <span class="f-text">
              <a
                href="#"
                onclick="$(this).hide(); $(this).parent().find('.hide').removeClass('hide').focus(); return false;"
                class="f-text-show-field"
                >+ lisainfo</a
              ><input
                type="text"
                class="input-text size-15 hide"
                maxlength="255"
                name="lisainfo[84]"
                value=""
              />
            </span>
          </li>
        </ul>
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[85]" value="1" id="eq_85" /><span
            class="name"
            >ilukilbid</span
          ></label
        >
        <span class="f-text">
          <a
            href="#"
            onclick="$(this).hide(); $(this).parent().find('.hide').removeClass('hide').focus(); return false;"
            class="f-text-show-field"
            >+ lisainfo</a
          ><input
            type="text"
            class="input-text size-15 hide"
            maxlength="255"
            name="lisainfo[85]"
            value=""
          />
        </span>
      </li>
    </ul>
    <ul class="equipment-group-fields">
      <li class="eq-item sub_group has-childs">
        <h4>Autoga antakse kaasa</h4>
        <ul class="eq-nested">
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[87]"
                value="1"
                id="eq_87"
              /><span class="name">suverehvid</span></label
            >
            <span class="f-text">
              <a
                href="#"
                onclick="$(this).hide(); $(this).parent().find('.hide').removeClass('hide').focus(); return false;"
                class="f-text-show-field"
                >+ lisainfo</a
              ><input
                type="text"
                class="input-text size-15 hide"
                maxlength="255"
                name="lisainfo[87]"
                value=""
              />
            </span>
          </li>
          <li class="eq-item has-childs">
            <label>
              <input
                type="checkbox"
                name="lisad[90]"
                value="1"
                id="eq_90" /><span class="name">talverehvid</span
              ><span class="expand"></span
            ></label>
            <span class="f-text">
              <a
                href="#"
                onclick="$(this).hide(); $(this).parent().find('.hide').removeClass('hide').focus(); return false;"
                class="f-text-show-field"
                >+ lisainfo</a
              ><input
                type="text"
                class="input-text size-15 hide"
                maxlength="255"
                name="lisainfo[90]"
                value=""
              />
            </span>
            <ul class="eq-nested child_eq_90 hide">
              <li class="eq-item">
                <label>
                  <input
                    type="checkbox"
                    name="lisad[91]"
                    value="1"
                    id="eq_91"
                  /><span class="name">lamellrehvid</span></label
                >
              </li>
              <li class="eq-item">
                <label>
                  <input
                    type="checkbox"
                    name="lisad[92]"
                    value="1"
                    id="eq_92"
                  /><span class="name">naastrehvid</span></label
                >
              </li>
            </ul>
          </li>
          <li class="eq-item has-childs">
            <label>
              <input
                type="checkbox"
                name="lisad[95]"
                value="1"
                id="eq_95" /><span class="name">valuveljed</span
              ><span class="expand"></span
            ></label>
            <ul class="eq-nested child_eq_95 hide">
              <li class="eq-item">
                <label>
                  <input
                    type="checkbox"
                    name="lisad[96]"
                    value="1"
                    id="eq_96"
                  /><span class="name">mõõt</span></label
                >
                <span class="f-text">
                  <a
                    href="#"
                    onclick="$(this).hide(); $(this).parent().find('.hide').removeClass('hide').focus(); return false;"
                    class="f-text-show-field"
                    >+ lisainfo</a
                  ><input
                    type="text"
                    class="input-text size-15 hide"
                    maxlength="255"
                    name="lisainfo[96]"
                    value=""
                  />
                </span>
              </li>
              <li class="eq-item">
                <label>
                  <input
                    type="checkbox"
                    name="lisad[97]"
                    value="1"
                    id="eq_97"
                  /><span class="name">firma</span></label
                >
                <span class="f-text">
                  <a
                    href="#"
                    onclick="$(this).hide(); $(this).parent().find('.hide').removeClass('hide').focus(); return false;"
                    class="f-text-show-field"
                    >+ lisainfo</a
                  ><input
                    type="text"
                    class="input-text size-15 hide"
                    maxlength="255"
                    name="lisainfo[97]"
                    value=""
                  />
                </span>
              </li>
            </ul>
          </li>
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[98]"
                value="1"
                id="eq_98"
              /><span class="name">ilukilbid</span></label
            >
            <span class="f-text">
              <a
                href="#"
                onclick="$(this).hide(); $(this).parent().find('.hide').removeClass('hide').focus(); return false;"
                class="f-text-show-field"
                >+ lisainfo</a
              ><input
                type="text"
                class="input-text size-15 hide"
                maxlength="255"
                name="lisainfo[98]"
                value=""
              />
            </span>
          </li>
        </ul>
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[200]" value="1" id="eq_200" /><span
            class="name"
            >tagavararatas</span
          ></label
        >
        <span class="f-text">
          <a
            href="#"
            onclick="$(this).hide(); $(this).parent().find('.hide').removeClass('hide').focus(); return false;"
            class="f-text-show-field"
            >+ lisainfo</a
          ><input
            type="text"
            class="input-text size-15 hide"
            maxlength="255"
            name="lisainfo[200]"
            value=""
          />
        </span>
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[338]" value="1" id="eq_338" /><span
            class="name"
            >rehvirõhu kontrollsüsteem</span
          ></label
        >
      </li>
    </ul>
  </div>
  <h3>ROOL</h3>
  <div class="equipment-group-container">
    <ul class="equipment-group-fields">
      <li class="eq-item has-childs">
        <label>
          <input type="checkbox" name="lisad[42]" value="1" id="eq_42" /><span
            class="name"
            >reguleeritav roolisammas</span
          ><span class="expand"></span
        ></label>
        <ul class="eq-nested child_eq_42 hide">
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[43]"
                value="1"
                id="eq_43"
              /><span class="name">kõrgus ja sügavus</span></label
            >
          </li>
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[44]"
                value="1"
                id="eq_44"
              /><span class="name">elektriliselt</span></label
            >
          </li>
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[161]"
                value="1"
                id="eq_161"
              /><span class="name">mäluga</span></label
            >
          </li>
        </ul>
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[45]" value="1" id="eq_45" /><span
            class="name"
            >multifunktsionaalne rool</span
          ></label
        >
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[63]" value="1" id="eq_63" /><span
            class="name"
            >nahkkattega rool</span
          ></label
        >
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[108]" value="1" id="eq_108" /><span
            class="name"
            >sportrool</span
          ></label
        >
      </li>
    </ul>
    <ul class="equipment-group-fields">
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[256]" value="1" id="eq_256" /><span
            class="name"
            >soojendusega rool</span
          ></label
        >
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[339]" value="1" id="eq_339" /><span
            class="name"
            >käiguvahetus roolilt</span
          ></label
        >
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[396]" value="1" id="eq_396" /><span
            class="name"
            >parempoolne rool (vasakpoolne liiklus)</span
          ></label
        >
      </li>
    </ul>
  </div>
  <h3>AUDIO, VIDEO, KOMMUNIKATSIOON</h3>
  <div class="equipment-group-container">
    <ul class="equipment-group-fields">
      <li class="eq-item has-childs">
        <label>
          <input type="checkbox" name="lisad[100]" value="1" id="eq_100" /><span
            class="name"
            >stereo</span
          ><span class="expand"></span
        ></label>
        <span class="f-text">
          <a
            href="#"
            onclick="$(this).hide(); $(this).parent().find('.hide').removeClass('hide').focus(); return false;"
            class="f-text-show-field"
            >+ lisainfo</a
          ><input
            type="text"
            class="input-text size-15 hide"
            maxlength="255"
            name="lisainfo[100]"
            value=""
          />
        </span>
        <ul class="eq-nested child_eq_100 hide">
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[101]"
                value="1"
                id="eq_101"
              /><span class="name">CD</span></label
            >
          </li>
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[324]"
                value="1"
                id="eq_324"
              /><span class="name">MP3</span></label
            >
          </li>
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[337]"
                value="1"
                id="eq_337"
              /><span class="name">USB pesaga</span></label
            >
          </li>
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[336]"
                value="1"
                id="eq_336"
              /><span class="name">mälukaardi pesaga</span></label
            >
            <span class="f-text">
              <a
                href="#"
                onclick="$(this).hide(); $(this).parent().find('.hide').removeClass('hide').focus(); return false;"
                class="f-text-show-field"
                >+ lisainfo</a
              ><input
                type="text"
                class="input-text size-15 hide"
                maxlength="255"
                name="lisainfo[336]"
                value=""
              />
            </span>
          </li>
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[99]"
                value="1"
                id="eq_99"
              /><span class="name">originaal</span></label
            >
          </li>
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[344]"
                value="1"
                id="eq_344"
              /><span class="name">puldiga</span></label
            >
          </li>
        </ul>
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[103]" value="1" id="eq_103" /><span
            class="name"
            >helivõimendi</span
          ></label
        >
        <span class="f-text">
          <a
            href="#"
            onclick="$(this).hide(); $(this).parent().find('.hide').removeClass('hide').focus(); return false;"
            class="f-text-show-field"
            >+ lisainfo</a
          ><input
            type="text"
            class="input-text size-15 hide"
            maxlength="255"
            name="lisainfo[103]"
            value=""
          />
        </span>
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[104]" value="1" id="eq_104" /><span
            class="name"
            >kõlarid</span
          ></label
        >
        <span class="f-text">
          <a
            href="#"
            onclick="$(this).hide(); $(this).parent().find('.hide').removeClass('hide').focus(); return false;"
            class="f-text-show-field"
            >+ lisainfo</a
          ><input
            type="text"
            class="input-text size-15 hide"
            maxlength="255"
            name="lisainfo[104]"
            value=""
          />
        </span>
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[105]" value="1" id="eq_105" /><span
            class="name"
            >subwoofer</span
          ></label
        >
        <span class="f-text">
          <a
            href="#"
            onclick="$(this).hide(); $(this).parent().find('.hide').removeClass('hide').focus(); return false;"
            class="f-text-show-field"
            >+ lisainfo</a
          ><input
            type="text"
            class="input-text size-15 hide"
            maxlength="255"
            name="lisainfo[105]"
            value=""
          />
        </span>
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[102]" value="1" id="eq_102" /><span
            class="name"
            >CD Box</span
          ></label
        >
        <span class="f-text">
          <a
            href="#"
            onclick="$(this).hide(); $(this).parent().find('.hide').removeClass('hide').focus(); return false;"
            class="f-text-show-field"
            >+ lisainfo</a
          ><input
            type="text"
            class="input-text size-15 hide"
            maxlength="255"
            name="lisainfo[102]"
            value=""
          />
        </span>
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[397]" value="1" id="eq_397" /><span
            class="name"
            >Apple CarPlay/Android Auto</span
          ></label
        >
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[250]" value="1" id="eq_250" /><span
            class="name"
            >DVD</span
          ></label
        >
      </li>
    </ul>
    <ul class="equipment-group-fields">
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[106]" value="1" id="eq_106" /><span
            class="name"
            >elektriline antenn</span
          ></label
        >
      </li>
      <li class="eq-item has-childs">
        <label>
          <input type="checkbox" name="lisad[316]" value="1" id="eq_316" /><span
            class="name"
            >ekraan</span
          ><span class="expand"></span
        ></label>
        <span class="f-text">
          <a
            href="#"
            onclick="$(this).hide(); $(this).parent().find('.hide').removeClass('hide').focus(); return false;"
            class="f-text-show-field"
            >+ lisainfo</a
          ><input
            type="text"
            class="input-text size-15 hide"
            maxlength="255"
            name="lisainfo[316]"
            value=""
          />
        </span>
        <ul class="eq-nested child_eq_316 hide">
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[116]"
                value="1"
                id="eq_116"
              /><span class="name">ees</span></label
            >
          </li>
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[165]"
                value="1"
                id="eq_165"
              /><span class="name">taga</span></label
            >
          </li>
        </ul>
      </li>
      <li class="eq-item has-childs">
        <label>
          <input type="checkbox" name="lisad[115]" value="1" id="eq_115" /><span
            class="name"
            >navigatsiooniseade</span
          ><span class="expand"></span
        ></label>
        <ul class="eq-nested child_eq_115 hide">
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[341]"
                value="1"
                id="eq_341"
              /><span class="name">kaardiga</span></label
            >
          </li>
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[342]"
                value="1"
                id="eq_342"
              /><span class="name">hääljuhtimisega</span></label
            >
          </li>
        </ul>
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[117]" value="1" id="eq_117" /><span
            class="name"
            >autokompuuter</span
          ></label
        >
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[127]" value="1" id="eq_127" /><span
            class="name"
            >autotelefon</span
          ></label
        >
        <span class="f-text">
          <a
            href="#"
            onclick="$(this).hide(); $(this).parent().find('.hide').removeClass('hide').focus(); return false;"
            class="f-text-show-field"
            >+ lisainfo</a
          ><input
            type="text"
            class="input-text size-15 hide"
            maxlength="255"
            name="lisainfo[127]"
            value=""
          />
        </span>
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[128]" value="1" id="eq_128" /><span
            class="name"
            >käed vabad süsteem</span
          ></label
        >
        <span class="f-text">
          <a
            href="#"
            onclick="$(this).hide(); $(this).parent().find('.hide').removeClass('hide').focus(); return false;"
            class="f-text-show-field"
            >+ lisainfo</a
          ><input
            type="text"
            class="input-text size-15 hide"
            maxlength="255"
            name="lisainfo[128]"
            value=""
          />
        </span>
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[129]" value="1" id="eq_129" /><span
            class="name"
            >GSM antenn</span
          ></label
        >
      </li>
    </ul>
  </div>
  <h3>SISUSTUS</h3>
  <div class="equipment-group-container">
    <ul class="equipment-group-fields">
      <li class="eq-item has-childs">
        <label>
          <input type="checkbox" name="lisad[66]" value="1" id="eq_66" /><span
            class="name"
            >iluliistud salongis</span
          ><span class="expand"></span
        ></label>
        <span class="f-text">
          <a
            href="#"
            onclick="$(this).hide(); $(this).parent().find('.hide').removeClass('hide').focus(); return false;"
            class="f-text-show-field"
            >+ lisainfo</a
          ><input
            type="text"
            class="input-text size-15 hide"
            maxlength="255"
            name="lisainfo[66]"
            value=""
          />
        </span>
        <ul class="eq-nested child_eq_66 hide">
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[254]"
                value="1"
                id="eq_254"
              /><span class="name">puitdekoor</span></label
            >
          </li>
        </ul>
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[73]" value="1" id="eq_73" /><span
            class="name"
            >taskud esiistmete seljatugedes</span
          ></label
        >
      </li>
      <li class="eq-item has-childs">
        <label>
          <input type="checkbox" name="lisad[319]" value="1" id="eq_319" /><span
            class="name"
            >jalamatid</span
          ><span class="expand"></span
        ></label>
        <ul class="eq-nested child_eq_319 hide">
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[68]"
                value="1"
                id="eq_68"
              /><span class="name">tekstiilist</span></label
            >
          </li>
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[69]"
                value="1"
                id="eq_69"
              /><span class="name">kummist</span></label
            >
          </li>
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[67]"
                value="1"
                id="eq_67"
              /><span class="name">veluurist</span></label
            >
          </li>
        </ul>
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[374]" value="1" id="eq_374" /><span
            class="name"
            >sahtlid esiistmete all</span
          ></label
        >
      </li>
    </ul>
    <ul class="equipment-group-fields">
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[70]" value="1" id="eq_70" /><span
            class="name"
            >pagasiruumi matt</span
          ></label
        >
      </li>
      <li class="eq-item has-childs">
        <label>
          <input type="checkbox" name="lisad[320]" value="1" id="eq_320" /><span
            class="name"
            >topsihoidjad</span
          ><span class="expand"></span
        ></label>
        <ul class="eq-nested child_eq_320 hide">
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[71]"
                value="1"
                id="eq_71"
              /><span class="name">ees</span></label
            >
          </li>
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[72]"
                value="1"
                id="eq_72"
              /><span class="name">taga</span></label
            >
          </li>
        </ul>
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[64]" value="1" id="eq_64" /><span
            class="name"
            >nahkkattega käigukanginupp</span
          ></label
        >
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[65]" value="1" id="eq_65" /><span
            class="name"
            >nahkkattega käsipidurikang</span
          ></label
        >
      </li>
    </ul>
  </div>
  <h3>ISTMED</h3>
  <div class="equipment-group-container">
    <ul class="equipment-group-fields">
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[61]" value="1" id="eq_61" /><span
            class="name"
            >veluurpolster</span
          ></label
        >
        <span class="f-text">
          <a
            href="#"
            onclick="$(this).hide(); $(this).parent().find('.hide').removeClass('hide').focus(); return false;"
            class="f-text-show-field"
            >+ lisainfo</a
          ><input
            type="text"
            class="input-text size-15 hide"
            maxlength="255"
            name="lisainfo[61]"
            value=""
          />
        </span>
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[62]" value="1" id="eq_62" /><span
            class="name"
            >tekstiilpolster</span
          ></label
        >
        <span class="f-text">
          <a
            href="#"
            onclick="$(this).hide(); $(this).parent().find('.hide').removeClass('hide').focus(); return false;"
            class="f-text-show-field"
            >+ lisainfo</a
          ><input
            type="text"
            class="input-text size-15 hide"
            maxlength="255"
            name="lisainfo[62]"
            value=""
          />
        </span>
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[60]" value="1" id="eq_60" /><span
            class="name"
            >poolnahkpolster</span
          ></label
        >
        <span class="f-text">
          <a
            href="#"
            onclick="$(this).hide(); $(this).parent().find('.hide').removeClass('hide').focus(); return false;"
            class="f-text-show-field"
            >+ lisainfo</a
          ><input
            type="text"
            class="input-text size-15 hide"
            maxlength="255"
            name="lisainfo[60]"
            value=""
          />
        </span>
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[59]" value="1" id="eq_59" /><span
            class="name"
            >nahkpolster</span
          ></label
        >
        <span class="f-text">
          <a
            href="#"
            onclick="$(this).hide(); $(this).parent().find('.hide').removeClass('hide').focus(); return false;"
            class="f-text-show-field"
            >+ lisainfo</a
          ><input
            type="text"
            class="input-text size-15 hide"
            maxlength="255"
            name="lisainfo[59]"
            value=""
          />
        </span>
      </li>
      <li class="eq-item has-childs f-extra-x">
        <label>
          <input type="checkbox" name="lisad[39]" value="1" id="eq_39" /><span
            class="name"
            >elektriliselt reguleeritavad istmed</span
          ><span class="expand"></span
        ></label>
        <span class="f-text unit-x">
          <input
            type="number"
            class="input-number size-1"
            maxlength="1"
            name="lisainfo[39]"
            value=""
          />
          <span class="unit">x</span>
        </span>
        <span class="expand"></span>
        <ul class="eq-nested child_eq_39 hide">
          <li class="eq-item f-extra-x">
            <label>
              <input
                type="checkbox"
                name="lisad[40]"
                value="1"
                id="eq_40"
              /><span class="name">mäludega</span></label
            >
            <span class="f-text unit-x">
              <input
                type="number"
                class="input-number size-1"
                maxlength="1"
                name="lisainfo[40]"
                value=""
              />
              <span class="unit">x</span>
            </span>
          </li>
        </ul>
      </li>
      <li class="eq-item has-childs">
        <label>
          <input type="checkbox" name="lisad[350]" value="1" id="eq_350" /><span
            class="name"
            >istmed reguleeritava kõrgusega</span
          ><span class="expand"></span
        ></label>
        <ul class="eq-nested child_eq_350 hide">
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[351]"
                value="1"
                id="eq_351"
              /><span class="name">juhiiste</span></label
            >
          </li>
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[352]"
                value="1"
                id="eq_352"
              /><span class="name">kõrvalistuja iste</span></label
            >
          </li>
        </ul>
      </li>
      <li class="eq-item f-extra-x">
        <label>
          <input type="checkbox" name="lisad[41]" value="1" id="eq_41" /><span
            class="name"
            >istmesoojendused</span
          ></label
        >
        <span class="f-text unit-x">
          <input
            type="number"
            class="input-number size-1"
            maxlength="1"
            name="lisainfo[41]"
            value=""
          />
          <span class="unit">x</span>
        </span>
      </li>
      <li class="eq-item has-childs">
        <label>
          <input type="checkbox" name="lisad[353]" value="1" id="eq_353" /><span
            class="name"
            >reguleeritava kumerusega seljatugi</span
          ><span class="expand"></span
        ></label>
        <ul class="eq-nested child_eq_353 hide">
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[354]"
                value="1"
                id="eq_354"
              /><span class="name">juhiiste</span></label
            >
          </li>
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[355]"
                value="1"
                id="eq_355"
              /><span class="name">kõrvalistuja iste</span></label
            >
          </li>
        </ul>
      </li>
    </ul>
    <ul class="equipment-group-fields">
      <li class="eq-item has-childs">
        <label>
          <input type="checkbox" name="lisad[328]" value="1" id="eq_328" /><span
            class="name"
            >massaažifunktsiooniga istmed</span
          ><span class="expand"></span
        ></label>
        <span class="f-text">
          <a
            href="#"
            onclick="$(this).hide(); $(this).parent().find('.hide').removeClass('hide').focus(); return false;"
            class="f-text-show-field"
            >+ lisainfo</a
          ><input
            type="text"
            class="input-text size-15 hide"
            maxlength="255"
            name="lisainfo[328]"
            value=""
          />
        </span>
        <ul class="eq-nested child_eq_328 hide">
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[152]"
                value="1"
                id="eq_152"
              /><span class="name">juhil</span></label
            >
          </li>
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[153]"
                value="1"
                id="eq_153"
              /><span class="name">kõrvalistmel</span></label
            >
          </li>
        </ul>
      </li>
      <li class="eq-item has-childs">
        <label>
          <input type="checkbox" name="lisad[149]" value="1" id="eq_149" /><span
            class="name"
            >ventileeritavad istmed</span
          ><span class="expand"></span
        ></label>
        <ul class="eq-nested child_eq_149 hide">
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[146]"
                value="1"
                id="eq_146"
              /><span class="name">ees</span></label
            >
          </li>
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[147]"
                value="1"
                id="eq_147"
              /><span class="name">taga</span></label
            >
          </li>
        </ul>
      </li>
      <li class="eq-item has-childs">
        <label>
          <input type="checkbox" name="lisad[53]" value="1" id="eq_53" /><span
            class="name"
            >käetugi ees</span
          ><span class="expand"></span
        ></label>
        <ul class="eq-nested child_eq_53 hide">
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[54]"
                value="1"
                id="eq_54"
              /><span class="name">laekaga</span></label
            >
          </li>
        </ul>
      </li>
      <li class="eq-item has-childs">
        <label>
          <input type="checkbox" name="lisad[55]" value="1" id="eq_55" /><span
            class="name"
            >käetugi taga</span
          ><span class="expand"></span
        ></label>
        <ul class="eq-nested child_eq_55 hide">
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[251]"
                value="1"
                id="eq_251"
              /><span class="name">laekaga</span></label
            >
          </li>
        </ul>
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[364]" value="1" id="eq_364" /><span
            class="name"
            >kaassõitja istme seljatugi allaklapitav</span
          ></label
        >
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[125]" value="1" id="eq_125" /><span
            class="name"
            >tagaistme seljatugi allaklapitav</span
          ></label
        >
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[322]" value="1" id="eq_322" /><span
            class="name"
            >Comfort istmed</span
          ></label
        >
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[107]" value="1" id="eq_107" /><span
            class="name"
            >sportistmed</span
          ></label
        >
      </li>
    </ul>
  </div>
  <h3>MUGAVUSVARUSTUS</h3>
  <div class="equipment-group-container">
    <ul class="equipment-group-fields">
      <li class="eq-item f-select">
        <label for="eq_381">kliimaseade</label>
        <div
          class="custom-select custom-select-auto-width"
          data-auto-width="1"
          tabindex="0"
        >
          <select id="eq_381" name="lisad_sel[381]" data-auto-width="1">
            <option value=""></option>
            <option value="211">konditsioneer</option>
            <option value="213">kliimaautomaatik</option>
          </select>
          <div class="select-selected no-selection">
            <span
              contenteditable="false"
              spellcheck="false"
              class="search-filter"
              data-default=""
            ></span
            ><span class="select-arrow-container"> </span>
          </div>
          <div
            class="select-items-container select-hide"
            style="min-width: 52px"
          >
            <div class="select-items">
              <div data-value="" class="option sfr void selected">
                <span class="option-value">&nbsp;</span
                ><span class="option-clear">&nbsp;</span>
              </div>
              <div data-value="211" class="option sfr">
                <span class="option-value">konditsioneer</span
                ><span class="option-clear">&nbsp;</span>
              </div>
              <div data-value="213" class="option sfr">
                <span class="option-value">kliimaautomaatik</span
                ><span class="option-clear">&nbsp;</span>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="eq-item has-childs">
        <label>
          <input type="checkbox" name="lisad[31]" value="1" id="eq_31" /><span
            class="name"
            >elektrilised välispeeglid</span
          ><span class="expand"></span
        ></label>
        <ul class="eq-nested child_eq_31 hide">
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[32]"
                value="1"
                id="eq_32"
              /><span class="name">soojendusega</span></label
            >
          </li>
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[33]"
                value="1"
                id="eq_33"
              /><span class="name">kokkuklapitavad</span></label
            >
          </li>
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[329]"
                value="1"
                id="eq_329"
              /><span class="name">mäluga</span></label
            >
          </li>
        </ul>
      </li>
      <li class="eq-item f-extra-x">
        <label>
          <input type="checkbox" name="lisad[29]" value="1" id="eq_29" /><span
            class="name"
            >elektrilised akende tõstukid</span
          ></label
        >
        <span class="f-text unit-x">
          <input
            type="number"
            class="input-number size-1"
            maxlength="1"
            name="lisainfo[29]"
            value=""
          />
          <span class="unit">x</span>
        </span>
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[30]" value="1" id="eq_30" /><span
            class="name"
            >toonitud klaasid</span
          ></label
        >
      </li>
      <li class="eq-item has-childs">
        <label>
          <input type="checkbox" name="lisad[36]" value="1" id="eq_36" /><span
            class="name"
            >katuseluuk</span
          ><span class="expand"></span
        ></label>
        <span class="f-text">
          <a
            href="#"
            onclick="$(this).hide(); $(this).parent().find('.hide').removeClass('hide').focus(); return false;"
            class="f-text-show-field"
            >+ lisainfo</a
          ><input
            type="text"
            class="input-text size-15 hide"
            maxlength="255"
            name="lisainfo[36]"
            value=""
          />
        </span>
        <ul class="eq-nested child_eq_36 hide">
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[37]"
                value="1"
                id="eq_37"
              /><span class="name">klaasist</span></label
            >
          </li>
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[38]"
                value="1"
                id="eq_38"
              /><span class="name">elektriline</span></label
            >
          </li>
        </ul>
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[347]" value="1" id="eq_347" /><span
            class="name"
            >panoraamkatus (klaasist)</span
          ></label
        >
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[166]" value="1" id="eq_166" /><span
            class="name"
            >uste servosulgurid</span
          ></label
        >
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[167]" value="1" id="eq_167" /><span
            class="name"
            >võtmeta avamis- ja käivitussüsteem</span
          ></label
        >
        <span class="f-text">
          <a
            href="#"
            onclick="$(this).hide(); $(this).parent().find('.hide').removeClass('hide').focus(); return false;"
            class="f-text-show-field"
            >+ lisainfo</a
          ><input
            type="text"
            class="input-text size-15 hide"
            maxlength="255"
            name="lisainfo[167]"
            value=""
          />
        </span>
      </li>
      <li class="eq-item has-childs">
        <label>
          <input type="checkbox" name="lisad[28]" value="1" id="eq_28" /><span
            class="name"
            >püsikiiruse hoidja</span
          ><span class="expand"></span
        ></label>
        <ul class="eq-nested child_eq_28 hide">
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[330]"
                value="1"
                id="eq_330"
              /><span class="name">eessõitjaga distantsi jälgiv</span></label
            >
          </li>
        </ul>
      </li>
      <li class="eq-item has-childs">
        <label>
          <input type="checkbox" name="lisad[262]" value="1" id="eq_262" /><span
            class="name"
            >pakiruumi avamine elektriliselt</span
          ><span class="expand"></span
        ></label>
        <ul class="eq-nested child_eq_262 hide">
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[389]"
                value="1"
                id="eq_389"
              /><span class="name">jalaviipega</span></label
            >
          </li>
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[390]"
                value="1"
                id="eq_390"
              /><span class="name">puldist</span></label
            >
          </li>
        </ul>
      </li>
      <li class="eq-item has-childs f-extra-x">
        <label>
          <input type="checkbox" name="lisad[56]" value="1" id="eq_56" /><span
            class="name"
            >peeglid päikesesirmides</span
          ><span class="expand"></span
        ></label>
        <span class="f-text unit-x">
          <input
            type="number"
            class="input-number size-1"
            maxlength="1"
            name="lisainfo[56]"
            value=""
          />
          <span class="unit">x</span>
        </span>
        <span class="expand"></span>
        <ul class="eq-nested child_eq_56 hide">
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[57]"
                value="1"
                id="eq_57"
              /><span class="name">valgustusega</span></label
            >
          </li>
        </ul>
      </li>
      <li class="eq-item has-childs">
        <label>
          <input type="checkbox" name="lisad[49]" value="1" id="eq_49" /><span
            class="name"
            >rulookardin tagaaknal</span
          ><span class="expand"></span
        ></label>
        <ul class="eq-nested child_eq_49 hide">
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[50]"
                value="1"
                id="eq_50"
              /><span class="name">elektriline</span></label
            >
          </li>
        </ul>
      </li>
      <li class="eq-item has-childs f-extra-x">
        <label>
          <input type="checkbox" name="lisad[51]" value="1" id="eq_51" /><span
            class="name"
            >rulookardinad ustel</span
          ><span class="expand"></span
        ></label>
        <span class="f-text unit-x">
          <input
            type="number"
            class="input-number size-1"
            maxlength="1"
            name="lisainfo[51]"
            value=""
          />
          <span class="unit">x</span>
        </span>
        <span class="expand"></span>
        <ul class="eq-nested child_eq_51 hide">
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[52]"
                value="1"
                id="eq_52"
              /><span class="name">elektrilised</span></label
            >
          </li>
        </ul>
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[46]" value="1" id="eq_46" /><span
            class="name"
            >mootori eelsoojendus</span
          ></label
        >
        <span class="f-text">
          <a
            href="#"
            onclick="$(this).hide(); $(this).parent().find('.hide').removeClass('hide').focus(); return false;"
            class="f-text-show-field"
            >+ lisainfo</a
          ><input
            type="text"
            class="input-text size-15 hide"
            maxlength="255"
            name="lisainfo[46]"
            value=""
          />
        </span>
      </li>
    </ul>
    <ul class="equipment-group-fields">
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[47]" value="1" id="eq_47" /><span
            class="name"
            >salongi eelsoojendus</span
          ></label
        >
        <span class="f-text">
          <a
            href="#"
            onclick="$(this).hide(); $(this).parent().find('.hide').removeClass('hide').focus(); return false;"
            class="f-text-show-field"
            >+ lisainfo</a
          ><input
            type="text"
            class="input-text size-15 hide"
            maxlength="255"
            name="lisainfo[47]"
            value=""
          />
        </span>
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[391]" value="1" id="eq_391" /><span
            class="name"
            >integreeritud väravapult</span
          ></label
        >
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[48]" value="1" id="eq_48" /><span
            class="name"
            >salongi lisasoojendus</span
          ></label
        >
      </li>
      <li class="eq-item has-childs">
        <label>
          <input type="checkbox" name="lisad[145]" value="1" id="eq_145" /><span
            class="name"
            >automaatselt tumenevad peeglid</span
          ><span class="expand"></span
        ></label>
        <ul class="eq-nested child_eq_145 hide">
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[34]"
                value="1"
                id="eq_34"
              /><span class="name">sees</span></label
            >
          </li>
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[35]"
                value="1"
                id="eq_35"
              /><span class="name">väljas</span></label
            >
          </li>
        </ul>
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[58]" value="1" id="eq_58" /><span
            class="name"
            >uste sisevalgustus</span
          ></label
        >
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[171]" value="1" id="eq_171" /><span
            class="name"
            >kohtvalgustid</span
          ></label
        >
      </li>
      <li class="eq-item has-childs">
        <label>
          <input type="checkbox" name="lisad[321]" value="1" id="eq_321" /><span
            class="name"
            >parkimisandurid</span
          ><span class="expand"></span
        ></label>
        <ul class="eq-nested child_eq_321 hide">
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[201]"
                value="1"
                id="eq_201"
              /><span class="name">ees</span></label
            >
          </li>
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[202]"
                value="1"
                id="eq_202"
              /><span class="name">taga</span></label
            >
          </li>
        </ul>
      </li>
      <li class="eq-item has-childs">
        <label>
          <input type="checkbox" name="lisad[331]" value="1" id="eq_331" /><span
            class="name"
            >parkimiskaamera</span
          ><span class="expand"></span
        ></label>
        <ul class="eq-nested child_eq_331 hide">
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[399]"
                value="1"
                id="eq_399"
              /><span class="name">360</span></label
            >
          </li>
        </ul>
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[365]" value="1" id="eq_365" /><span
            class="name"
            >automaatse parkimise funktsioon</span
          ></label
        >
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[349]" value="1" id="eq_349" /><span
            class="name"
            >Coming-/Leaving-Home funktsioon</span
          ></label
        >
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[387]" value="1" id="eq_387" /><span
            class="name"
            >info kuvamine esiklaasile</span
          ></label
        >
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[370]" value="1" id="eq_370" /><span
            class="name"
            >pakiruumi liugpõrand</span
          ></label
        >
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[372]" value="1" id="eq_372" /><span
            class="name"
            >elektrilised liuguksed</span
          ></label
        >
      </li>
    </ul>
  </div>
  <h3>SPORTVARUSTUS</h3>
  <div class="equipment-group-container">
    <ul class="equipment-group-fields">
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[112]" value="1" id="eq_112" /><span
            class="name"
            >tagaspoiler</span
          ></label
        >
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[113]" value="1" id="eq_113" /><span
            class="name"
            >esispoiler</span
          ></label
        >
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[114]" value="1" id="eq_114" /><span
            class="name"
            >spoileriring</span
          ></label
        >
      </li>
    </ul>
    <ul class="equipment-group-fields">
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[110]" value="1" id="eq_110" /><span
            class="name"
            >sportvedrustus</span
          ></label
        >
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[111]" value="1" id="eq_111" /><span
            class="name"
            >sportsummuti</span
          ></label
        >
      </li>
    </ul>
  </div>
  <h3>MUU VARUSTUS</h3>
  <div class="equipment-group-container">
    <ul class="equipment-group-fields">
      <li class="eq-item has-childs">
        <label>
          <input type="checkbox" name="lisad[289]" value="1" id="eq_289" /><span
            class="name"
            >reguleeritav vedrustus</span
          ><span class="expand"></span
        ></label>
        <ul class="eq-nested child_eq_289 hide">
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[333]"
                value="1"
                id="eq_333"
              /><span class="name">elektriliselt</span></label
            >
          </li>
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[335]"
                value="1"
                id="eq_335"
              /><span class="name">jäikus</span></label
            >
          </li>
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[334]"
                value="1"
                id="eq_334"
              /><span class="name">kõrgus</span></label
            >
          </li>
        </ul>
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[214]" value="1" id="eq_214" /><span
            class="name"
            >õhkvedrustus</span
          ></label
        >
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[362]" value="1" id="eq_362" /><span
            class="name"
            >start-stopp süsteem</span
          ></label
        >
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[130]" value="1" id="eq_130" /><span
            class="name"
            >katusereelingud</span
          ></label
        >
        <span class="f-text">
          <a
            href="#"
            onclick="$(this).hide(); $(this).parent().find('.hide').removeClass('hide').focus(); return false;"
            class="f-text-show-field"
            >+ lisainfo</a
          ><input
            type="text"
            class="input-text size-15 hide"
            maxlength="255"
            name="lisainfo[130]"
            value=""
          />
        </span>
      </li>
      <li class="eq-item f-extra-x">
        <label>
          <input type="checkbox" name="lisad[363]" value="1" id="eq_363" /><span
            class="name"
            >12v pistikupesad</span
          ></label
        >
        <span class="f-text unit-x">
          <input
            type="number"
            class="input-number size-1"
            maxlength="1"
            name="lisainfo[363]"
            value=""
          />
          <span class="unit">x</span>
        </span>
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[126]" value="1" id="eq_126" /><span
            class="name"
            >suusakott</span
          ></label
        >
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[394]" value="1" id="eq_394" /><span
            class="name"
            >rehviparanduskomplekt</span
          ></label
        >
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[393]" value="1" id="eq_393" /><span
            class="name"
            >jahutusega kindalaegas</span
          ></label
        >
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[120]" value="1" id="eq_120" /><span
            class="name"
            >välistemperatuuri näidik</span
          ></label
        >
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[191]" value="1" id="eq_191" /><span
            class="name"
            >topeltklaasid</span
          ></label
        >
        <span class="f-text">
          <a
            href="#"
            onclick="$(this).hide(); $(this).parent().find('.hide').removeClass('hide').focus(); return false;"
            class="f-text-show-field"
            >+ lisainfo</a
          ><input
            type="text"
            class="input-text size-15 hide"
            maxlength="255"
            name="lisainfo[191]"
            value=""
          />
        </span>
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[118]" value="1" id="eq_118" /><span
            class="name"
            >elektrilise soojendusega esiklaas</span
          ></label
        >
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[119]" value="1" id="eq_119" /><span
            class="name"
            >tagaklaasi soojendus</span
          ></label
        >
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[356]" value="1" id="eq_356" /><span
            class="name"
            >aknapesupihustite sulatus</span
          ></label
        >
      </li>
    </ul>
    <ul class="equipment-group-fields">
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[122]" value="1" id="eq_122" /><span
            class="name"
            >pagasikate</span
          ></label
        >
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[123]" value="1" id="eq_123" /><span
            class="name"
            >salongi ja pakiruumi eraldusvõrk</span
          ></label
        >
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[124]" value="1" id="eq_124" /><span
            class="name"
            >pagasi võrk pakiruumis</span
          ></label
        >
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[357]" value="1" id="eq_357" /><span
            class="name"
            >kaubakinnituse konksud</span
          ></label
        >
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[298]" value="1" id="eq_298" /><span
            class="name"
            >tagaklaasi puhasti</span
          ></label
        >
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[158]" value="1" id="eq_158" /><span
            class="name"
            >paigaldatud tulekustuti</span
          ></label
        >
      </li>
      <li class="eq-item has-childs">
        <label>
          <input type="checkbox" name="lisad[131]" value="1" id="eq_131" /><span
            class="name"
            >veokonks</span
          ><span class="expand"></span
        ></label>
        <ul class="eq-nested child_eq_131 hide">
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[369]"
                value="1"
                id="eq_369"
              /><span class="name">elektriline</span></label
            >
          </li>
          <li class="eq-item">
            <label>
              <input
                type="checkbox"
                name="lisad[132]"
                value="1"
                id="eq_132"
              /><span class="name">teisaldatav</span></label
            >
          </li>
        </ul>
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[392]" value="1" id="eq_392" /><span
            class="name"
            >haagise stabiliseerimissüsteem</span
          ></label
        >
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[160]" value="1" id="eq_160" /><span
            class="name"
            >reisiarvesti</span
          ></label
        >
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[141]" value="1" id="eq_141" /><span
            class="name"
            >esi- ja tagarataste porikummid</span
          ></label
        >
      </li>
      <li class="eq-item">
        <label>
          <input type="checkbox" name="lisad[375]" value="1" id="eq_375" /><span
            class="name"
            >invavarustus</span
          ></label
        >
      </li>
      <li class="eq-item">
        <div class="f-textarea">
          <h4>
            Muud lisad
            <span style="font-weight: normal; color: #cb5600"
              >&nbsp;&nbsp;*&nbsp;eraldamiseks kasuta semikoolonit (;)</span
            >
          </h4>
          <input type="hidden" value="1" name="lisad[170]" />
          <textarea
            name="lisainfo[170]"
            maxlength="2000"
            rows="5"
            class="input-textarea"
          ></textarea>
        </div>
      </li>
    </ul>
  </div>
</div>
