/* Searchbar */
.front-page-content{
    background-color: rgb(240, 240, 240);
    width: 100%;
    border: 1px grey;
    border-radius: 10px;
}
.front-page-content input[type='text']{
    border: none;
    padding: 1vw;
    margin-left: 1vw;
}
.front-page-content input[type='text']:focus{
    border: none;
    outline: none;

}
.front-page-content-searchbar{
    display: flex;
    align-items: center;
    padding: 1vw;
    width: 100%;
}
.front-page-content-searchbar-left{
    flex: 0.8;
    background-color: white;
    border: 0 solid white;
    border-radius: 10px;
    position: relative;
}

.front-page-content-searchbar-left-searchbox {
    background-color: white;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 5px 16px rgb(71 68 69 / 25%);
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    top: 80px;
    margin-left: 28px;
    margin-right: 28px;
}

.front-page-content input{
    width: 95%;
    border: 1px solid rgb(211, 211, 211);
}
.front-page-content-searchbar-right{
    flex: 0.2;
    /* padding-left: 7vw; */
    display: flex;
    justify-content: space-evenly;
}
.find-map-text{
    font-size: larger;
    margin-top: 3px;
}
.front-page-content-searchbar-right>.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.find-map-text {
    font-size: 24px;
}
.MapIcon{
    width: 150px;
}
/* Category list */
.front-page-content-categories{
    background-color: none;
    height: 12vw;
}
.category-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 12vw;
    background-color: #fff;
}

/* Popular items  */

.front-page-content-pushed-front-adds{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.front-page-content-pushed-front-adds-title{
    display: flex;
    flex: 0.6;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 25px 0;
    
}

.front-page-content-pushed-front-adds-title h3 {
    font-size: 24px;
    font-weight: bolder;
}

.front-page-content-pushed-front-adds-list{
    /* column-count: 3; */
    /* width: 1000px; */
    display: flex;
    flex: 0.8;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

}

.category-list .market {
    color: rgb(71, 68, 69);
}