.dashboard-content {
    height: 80vh;
}
.dashboard-content {
    display: flex;
    justify-items: center;
}

.dashboard-content-left {
    flex: 0.2;
    background-color: #ddd;
    padding: 20px;
}

.dashboard-content-right {
    flex: 0.8;
    background-color: whitesmoke;
    padding: 20px;
}