.category_container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.category_container__sub_categories {
    background-color: white;
    padding: 25px;
    width: 100%;
}

.category_container__sub_categories > ul {
    list-style: none;
    height: 100%;
    width: 100%;
    column-count: 3;

}

.category_container__sub_categories_items {
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.category_title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 50px;
    padding-left: 40px;
}

.category_title > h1 {
    margin-top: 10px;
    margin-left: 15px;
}