.page-contents {
    display: flex;
    flex: 1;
    padding: 10px;
}

.page-contents-categories {
    background-color: #fff;
    padding: 10px;
    flex: 0.25;
}

.page-contents-products {
    flex: 0.75;
    padding: 10px;
}

.products-contents {
    display: flex !important;
    justify-content: space-evenly !important;
}