/*Page layout*/
.product-page-layout{
    display: flex;
    height: 100vh;
}
.product-page-layout-left{
    flex: 0.15;
    background-color: darkslategrey;
}
.product-page-layout-center{
    flex: 0.7;
    padding-left: 2%;
    padding-right: 2%;
}
.product-name{
    /* padding-left: 2%; */
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid;
}
.product-page-layout-right{
    flex: 0.15;
    background-color: darkslategrey;

}

.product-detail-content-view{
    display: flex;
    padding-top: 2%;
    /* justify-content: center;
    align-items: center; */

}
.product-detail-gallery{
    flex: 0.5;
    display: flex;
    justify-content: right;
    /* width: 1000px; */
    /* height: 800px; */
}
.product-detail-description{
    flex: 0.5;
    margin-left: 2vw;
}

.product-detail-info {
    display: flex;
    align-items: center;
}