.products-info-horizontal {
    display: flex;
}

.selector-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.selector-content-select {
    margin-left: 20px;
}

.products-info-horizontal-left, 
.products-info-horizontal-right {
    flex: 0.5;
}

